{% extends 'index.html' %}

{% block body %}

<div class="bg-black text-white flex items-center justify-center min-h-screen">


<audio id="spinSound" src="https://assets.mixkit.co/sfx/preview/mixkit-slot-machine-spin-1930.mp3"></audio>

<div class="text-center space-y-6">
  <h1 class="text-4xl font-bold text-yellow-400">🎰 Lucky Fund Draw</h1>

  <div id="wheel" class="w-64 h-64 rounded-full border-8 border-yellow-400 flex items-center justify-center text-3xl font-bold">
  <span id="rollingNumber">000000</span>
</div>

  <button onclick="runLottery()" class="bg-red-600 px-8 py-3 rounded-full text-xl font-bold hover:scale-105 transition">
    START DRAW
  </button>
</div>

<script>
let rollingInterval;

function runLottery(){
  document.getElementById('spinSound').play();

  // start rolling numbers
  const display = document.getElementById('rollingNumber');
  rollingInterval = setInterval(() => {
    display.innerText = Math.floor(Math.random() * 999999999);
  }, 80);

  fetch('/lottery/run/')
  .then(res => res.json())
  .then(data => {
    setTimeout(() => {
      clearInterval(rollingInterval);
      document.getElementById('rollingNumber').innerText = data.number;
      confetti({ particleCount: 300, spread: 120 })
      setTimeout(() => window.location.href = '/lottery/winner/', 2000)
    }, 4000)
  })
}
</script>

<style>
@keyframes spin { from {transform: rotate(0)} to {transform: rotate(360deg)} }
.animate-spin-slow { animation: spin 0.8s linear infinite }
</style>




</div>

{% endblock %}